/* Backgrounds */
$default-background-color: #753fbe; /* Page Background */
$dark-background-color: #161616; /* Dark backgrounds for page sections */
$button-background-color__normal: #a952b9; /* Normal button background */
$button-background-color__hover: #c170cf; /* Hover button background */
$textbox-background-color__normal: #9b86db; /* Normal textbox background */
$textbox-background-color__hover: #ac97e9; /* Hover textbox background */

/* Text */
$text-default-color: #ffffff; /* Default text color */
$text-alt-color: #a8a8a8; /* Default text color */
$text-title-color: #c79eff; /* Title text color */
$link-default-color: #e8ca52; /* Default link color */
