:root {
	--card-background-color: #212121;
	--card-color: #ffffff;
}

.card {
	background-color: var(--card-background-color);
	color: var(--card-color);
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card__small {
	width: 120px;
}

.card__medium {
	width: 200px;
}

.card__large {
	width: 350px;
}

.card__responsive {
	width: 80%;
}
