:root {
	--service-card-list-background-color: #a952b9;
	--service-card-description-color: #a3a3a3;
}

.service-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

.service-card__title {
	font-size: 35px;
}

.service-card__description {
	margin: 10px 0px;
	font-style: italic;
	color: var(--service-card-description-color);
}

.service-card__list-container {
	background-color: var(--service-card-list-background-color);
	list-style: none;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
}

.service-card__image {
	background-color: #ffffff;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 250px;
	height: 70px;
}
