/* .team-card {
} */

.team-card-image {
	border-radius: 10px;
	width: 100%;
	background-color: #ffffff;
}

.team-card-name {
	margin-top: 20px;
}

.team-card-job-title {
	margin-bottom: 15px;
}

.team-card-twitter-link {
	color: #e8ca52;
	text-decoration: none;
	font-weight: bold;
}

.team-card-twitter-link:hover {
	text-decoration: underline;
}
