.centered-content-container {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  min-width: fit-content;
}

.centered-content-container-row {
  flex-direction: row;
}

.centered-content-container-column {
  flex-direction: column;
}
