:root {
	--footerBackgroundColor: #121212;
}

/* Containers */

.footer {
	background-color: var(--footerBackgroundColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}

.nav {
	padding: 5px;
	flex: 1;
	display: flex;
	align-items: center;
}

/* Page Links */

.nav-links {
	flex: 1;
	list-style: none;
	display: flex;
}

.footer-dropdown {
	width: 100px !important;
	padding: 5px !important;
	margin-right: 15px !important;
}
