/* =======================
 * Root
 * ======================= */

.footer {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	padding: 10px 20px 10px 20px;
	min-height: 70px;
}

/* =======================
 * Top & Bottom Sections
 * ======================= */

/* Top Section */
.footer > .top-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Links */
.footer > .top-section > .links {
	display: flex;
}

.footer > .top-section > .links > .link {
	display: block;
	margin: 0px 10px 0px 10px;
	font-size: 1.2rem;
}

/* @Media Query: Phones */
@media screen and (max-width: 1200px) {
	/* Switch links direction */
	.footer > .top-section > .links {
		flex-direction: column;
	}

	/* Remove margin from links */
	.footer > .top-section > .links > .link {
		margin: 0px;
	}
}

/* Bottom Section */
.footer > .bottom-section > .copyright {
	text-align: center;
	color: #494949;
	margin: 10px 0px 0px 0px;
}
