:root {
	--headerBackgroundColor: #121212;
}

/* Containers */

.header {
	background-color: var(--headerBackgroundColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	padding: 5px;
	flex: 1;
	display: flex;
	align-items: center;
}

/* Logo */

.logo-container {
	flex-basis: 250px;
	text-align: left;
}

/* Nav Links */

.nav-links {
	flex: 1;
	list-style: none;
	display: flex;
}

.nav-links__desktop {
	justify-content: left;
}

.nav-links__tablet {
	justify-content: right;
}

.nav-links__mobile {
	flex-direction: column;
}

.nav-link__desktop {
	font-size: 26px;
	flex-basis: 250px;
}

.nav-link__tablet {
	font-size: 20px;
	flex-basis: 200px;
}

.nav-link__mobile {
	font-size: 16px;
	flex-basis: 250px;
}

/* Social Links */

.socials-container {
	display: flex;
	justify-content: space-between;
}
