/* =======================
 * Root
 * ======================= */

.header {
	display: flex;
	height: 80px;
	background-color: #161616;
}

/* =======================
 * Left & Right Sections
 * ======================= */

.left-section,
.right-section {
	display: flex;
	align-items: center;
}

/* Left */
.left-section {
	justify-content: flex-start;
	flex: 1 0;
	padding: 0px 0px 0px 10px;

	/* @Media Query: Phones */
	@media screen and (max-width: 1200px) {
		padding: 0px 15px 0px 5px;
		justify-content: space-between;
	}
}

.left-section > .logo {
	display: block;
	width: 150px;
}

/* Hide button */
.left-section > .menu-button {
	display: none;
	width: 50px;
	height: 50px;
	background-color: aliceblue;
	background-size: cover;
	border-radius: 5px;

	/* @Media Query: Phones */
	@media screen and (max-width: 1200px) {
		display: block;
	}
}

/* Display links */
.left-section > .links {
	display: flex;
	margin: 0px 0px 0px 50px;

	/* @Media Query: Phones */
	@media screen and (max-width: 1200px) {
		display: none;
		margin: 0px;
	}
}

.left-section > #hidden {
	/* @Media Query: Phones */
	@media screen and (max-width: 1200px) {
		display: flex;
		flex-direction: column;
		position: absolute;
		background-color: #161616;
		top: 80px;
		left: 0px;
		right: 0px;
		align-items: center;
		border-radius: 0px 0px 10px 10px;
	}
}

/* Nav Links */
.left-section > .links > .link {
	text-align: center;
	width: 150px;
	display: block;
	font-size: 1.3rem;
	margin: 0px 10px 0 10px;

	/* @Media Query: Phones */
	@media screen and (max-width: 1200px) {
		font-size: 1.2rem;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: left;
		padding: 0px 0px 0px 15px;
	}
}

/* Right */
.right-section {
	display: flex;
	justify-content: flex-end;
	flex: 0 0 fit-content;
	padding: 0px 10px 0px 0px;

	/* @Media Query: Phones */
	@media screen and (max-width: 1200px) {
		display: none;
		justify-content: flex-end;
	}
}

.right-section > .social-link {
	width: 50px;
	height: 50px;
	margin: 0px 5px 0px 5px;
}
