:root {
	--navlinkActiveColor: #c170cf;
	--navlinkHoverColor: #c170cf;
	--navlinkNormalColor: #ffffff;
}

.nav-link {
	text-align: center;
	display: flex;
	align-items: center;
}

.nav-link a {
	font-family: 'Fontnia Ineth';
	color: var(--navlinkNormalColor);
	font-weight: bold;
	text-decoration: none;
}

.nav-link a:hover {
	color: var(--navlinkHoverColor);
}

.nav-link__active a {
	color: var(--navlinkActiveColor);
}
