:root {
	--textInput-focusBorderColor: #ad96f1;
	--textInput-placeholder-color: #e4e4e4;
}

.text-input::placeholder {
	color: var(--textInput-placeholder-color);
}

.text-input:focus {
	box-shadow: 0px 0px 0px 5px var(--textInput-focusBorderColor) inset;
}
