:root {
	--textField-hoverBackgroundColor: #ad96f1;
	--textField-hoverColor: #ffffff;
	--textField-normalBackgroundColor: #9b86db;
	--textField-normalColor: #ffffff;
}

.text-field {
	background-color: var(--textField-normalBackgroundColor);
	color: var(--textField-normalColor);
}

.text-field:hover {
	background-color: var(--textField-hoverBackgroundColor);
	color: var(--textField-hoverColor);
}
