/* =======================
 * Imports
 * ======================= */

@import '../../../scss-configs/breakpoints.scss';
@import '../../../scss-configs/colors.scss';

/* =======================
 * Root
 * ======================= */

.horizontal-card {
	display: flex;
	background-color: #8347d3;
	width: 100%;
	max-width: 1000px;

	/* @Media Query: Phones */
	@media screen and (max-width: $mobile-max-width) {
		flex: 0 1 400px;
	}
}

.align-left {
	flex-direction: row;

	/* @Media Query: Phones */
	@media screen and (max-width: $mobile-max-width) {
		flex-direction: column;
		align-items: center;
	}
}

.align-left > .content > * {
	/* Media Query: Phones */
	@media screen and (min-width: $mobile-max-width) {
		text-align: justify;
	}
}

.align-right {
	flex-direction: row-reverse;

	/* @Media Query: Phones */
	@media screen and (max-width: $mobile-max-width) {
		flex-direction: column;
		align-items: center;
	}
}

.align-right > .content > * {
	/* Media Query: Phones */
	@media screen and (min-width: $mobile-max-width) {
		text-align: justify;
	}

	/* @Media Query: Phones */
	@media screen and (max-width: $mobile-max-width) {
		text-align: left;
	}
}

/* =======================
 * Elements
 * ======================= */

.image {
	border-radius: 10px;
	width: 250px;
	object-fit: cover;
	margin: 10px;

	/* @Media Query: Phones */
	@media screen and (max-width: $mobile-max-width) {
		width: calc(100% - 20px);
	}
}

.content {
	padding: 20px;
	width: 100%;
}
