/* =======================
 * Imports
 * ======================= */

@import '../../../scss-configs/colors.scss';

/* =======================
 * Root
 * ======================= */

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 1 350px;
	text-align: center;
	padding: 20px;
	background-color: $dark-background-color;
	color: $text-default-color;
}

/* =======================
 * Elements
 * ======================= */

.portrait {
	width: calc(100% - 20px);
	object-fit: cover;
	border-radius: 10px;
	margin: 10px;
}

.name {
	font-size: 1.4rem;
	font-weight: bold;
}

.job-title {
	font-size: 1.2rem;
}

.twitter-link {
	font-size: 1rem;
}
