/* Fonts */

@font-face {
	font-family: 'Berlin';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/barlow-regular.ttf');
}

@font-face {
	font-family: 'Berlin';
	font-style: normal;
	font-weight: bold;
	src: url('fonts/barlow-bold.ttf');
}

@font-face {
	font-family: 'Fontnia Ineth';
	font-style: normal;
	font-weight: lighter;
	src: url('fonts/bodo-amat.ttf');
}

/* Content */

:root {
	font-size: 100%;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Berlin';
}

body {
	background-color: #121212;
}
