:root {
	--button-hoverBackgroundColor: #c170cf;
	--button-hoverColor: #ffffff;
	--button-normalBackgroundColor: #a952b9;
	--button-normalColor: #ffffff;
}

.button {
	background-color: var(--button-normalBackgroundColor);
	color: var(--button-normalColor);
	cursor: pointer;
}

.button:hover {
	background-color: var(--button-hoverBackgroundColor);
	color: var(--button-hoverColor);
}
